body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

#resizeBtn {
    /* border: 2px solid black; */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#container {
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}
